.navbar
  .site-name
    color: #ee6101 !important;

.home
  margin-top: 100px !important;
  #main-title
    color: #ee6101;
  .ant-btn
    border-color: #ff7875;
    color: #ff7875;
    background-color: #fff !important;
    transition: background-color 0.3s,color 0.4;
  .ant-btn:hover
    background-color: #ff7875 !important;
    border: none;
    color: #fff;
   .features
      margin-top: 100px !important;

.footer
  background-color: #fff !important;
  color: #555 !important;
  border-top: 1px solid #eaecef;
